/*
 * Z-index UI application
 */

 $zindex-neg: -1;
 

html {
    box-sizing: border-box;
    font-size: 100%;
    //overflow: hidden;
    -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

*:focus {
    outline: 1px solid $c-focus-outline;
}

a {
    font-weight: 500;
}

img {
    max-width: 100%;
}

body {
    background: white;
    bottom: 0;
    font-family: $body-font;
    font-weight: 300;
    left: 0;
    margin: 0;
    //overflow: hidden;
    background-color: #e9ebee;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}

li {
    list-style-type: none;
}

.views {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    &__heading {
        font-family: $display-font;
        font-size: 30px;
        text-transform: uppercase;
        margin: 0;
        letter-spacing: 1px;
    }
}